<div id="sample_table">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

  <style>
    th {
      color: #fff;
    }
  </style>

  <table class="table table-striped">
    <tr class="bg-info">
      <th>Stock</th>
      <th>Price</th>
      <th>Number of Shares</th>
      <!--<th><input type="button" value="new" /></th>-->
    </tr>

    <tbody id="myTable"></tbody>
  </table>

  <script>
    var myArray = [
      { stock: "{{stock}}", price: "{{price}}", shares: "0" },
      //{ stock: "Mila", age: "32", birthdate: "10/1/1989" },
    ];
    var newArray = [{}];
    newArray[0] = { stock: "{{stock}}", price: "{{price}}", shares: "0" };

    buildTable(newArray);

    function buildTable(data) {
      var table = document.getElementById("myTable");

      for (var i = 0; i < data.length; i++) {
        var row = `<tr>
    			<td>${data[i].stock}</td>
    			<td>${Math.round(100 * data[i].price) / 100}</td>
    			<td>${data[i].shares}</td>
                    <td></td>
    	  </tr>`;
        table.innerHTML += row;
      }
    }
  </script>
</div>
