<div id="monitor_table">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

  <style>
    th {
      color: #fff;
    }
  </style>

  <table class="table table-striped">
    <tr class="bg-info">
      <th>Stock</th>
      <th>Price</th>
      <th>Number of Shares</th>
      <th>Total Value</th>
      <th>Buy (shares)</th>
      <th>Buy ($)</th>
      <th>Sell (shares)</th>
      <!--<th><input type="button" value="new" /></th>-->
    </tr>

    <tbody id="myTable"></tbody>
  </table>

  <script>
    var myArray = [];
    var parsed = {{mon_dict|tojson}}
    const key = Object.keys(parsed)
    //for (var i = 0; i < 1; i++) {
    //  myArray[i] = { stock: "{{stock}}", price: parsed['stock'], shares: "0" };
    //  //{ stock: "Mila", age: "32", birthdate: "10/1/1989" },
    //}
    for (var i = 0; i < key.length; i++){
        myArray[i] = { stock: key[i], price: parsed[key[i]], shares: "0" };
    }

    buildTable(myArray);

    function buildTable(data) {
      var table = document.getElementById("myTable");

      for (var i = 0; i < data.length; i++) {
        var row = `<tr>
    			<td>${data[i].stock}</td>
    			<td>${data[i].price}</td>
    			<td>${data[i].shares}</td>
          <td> calculate value</td>
          <td>
            <form action='/true_monitor' method='POST'>
              <input type='number' name='buy_number'>
            </form>
          </td>
          <td><input type='number' name='buy_price'> </td>
          <td><input type='number' name='sell_number'></td>
    	  </tr>`;
        table.innerHTML += row;
      }
    }
  </script>
</div>
