<div id="monitor_table">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />

<table class="table table-striped">
  <tr class="bg-info">
    <th width="10%">Free Funds</th>
    <th width="30%"></th>
    <th>Invested</th>
    <th>Portfolio</th>
    <th>Return</th>
    <!--<th><input type="button" value="new" /></th>-->
  </tr>
  <form action="/true_monitor" method="POST">
    <tr>
      <td></td>
      <td>
      <div class="input-group mb-3">
    <input
      type="text"
      name="num_shares"
      class="form-control"
      placeholder="Add to Funds (£)"
      aria-label="Stock, ETF or Mutual Fund"
      aria-describedby="basic-addon2"
    />
        <button
          class="btn btn-outline-secondary"
          type="submit"
          name="Add"
        >
          Add
        </button>
      </td>
      <td></td>
      <td></td>
    </tr>
  </form>

  <tbody id="mymoney"></tbody>
</table>

  <style>
    th {
      color: #fff;
    }
  </style>

  <table class="table table-striped">
    <tr class="bg-info">
      <th>Stock</th>
      <th>Price</th>
      <th>Number of Shares</th>
      <th>Value at Purchase</th>
      <th>Total Value</th>
      <!--<th><input type="button" value="new" /></th>-->
    </tr>

    <tbody id="myTable"></tbody>
  </table>
  <script>
    var myArray = [];
    var mon_dict = {{mon_dict|tojson}}
    var shares_dict = {{shares_dict|tojson}}
    var purch_dict = {{purch_dict|tojson}}
    var total_val_dict = {{total_val_dict|tojson}}
    var color = {{value_color_dict|tojson}}
    const key = Object.keys(mon_dict)
    //for (var i = 0; i < 1; i++) {
    //  myArray[i] = { stock: "{{stock}}", price: parsed['stock'], shares: "0" };
    //  //{ stock: "Mila", age: "32", birthdate: "10/1/1989" },
    //}
    for (var i = 0; i < key.length; i++){
        myArray[i] = { stock: key[i], price: mon_dict[key[i]], shares: shares_dict[key[i]], purch_val: purch_dict[key[i]],total_val: total_val_dict[key[i]], col:color[key[i]]};
    }

    buildTable(myArray);

    function buildTable(data) {
      var table = document.getElementById("myTable");

      for (var i = 0; i < data.length; i++) {
        var row = `<tr>
    			<td width="10%">${data[i].stock}</td>
    			<td width="10%">${data[i].price}</td>
    			<td>${data[i].shares}</td>
          <td> ${data[i].purch_val} </td>
          <td width="15%" style="background-color:${data[i].col}; color:white"> ${data[i].total_val}</td>
    	  </tr>`;
        table.innerHTML += row;
      }
    }
  </script>
</div>
